* Basic Operations
     * Comparison Operators
     * if, elif, else ststements
     * for loops
     * while loops
     * range()
     * list comprehension
     * functions
     * lambda expressions
     * map and filter

* # Range ()

In [ ]:
range(1,11) # this will return 1,2,3,4,5,6,7,8,9,10
# will include numbers between 1 and 11, with 1 included and 11 excluded

In [ ]:
range(1,11,2) # this will return 1,3,5,7,9

In [ ]:
for num in range(1,11):
    print(num)

In [ ]:
for num in range(1,11,2):
    print(num)

In [ ]:
for num in range(1,11,2):
    print(num**2)

In [ ]:
for num in range(1,12,2):
    print(num**2)

In [ ]:
for num in range(1,11,3):
    if num % 2== 0:
        print ('Even number')
    else:
        print('Odd number')

* # While Loop

In [21]:
num = 1
while num <11:
    print(num)
    num = num+1
    #num += 1

1
2
3
4
5
6
7
8
9
10

In [20]:
num = 1
while num <11:
    if num %2 != 0:
        print('Odd number')
    else:
        print('Even number')
    num = num+1

Odd number
Even number
Odd number
Even number
Odd number
Even number
Odd number
Even number
Odd number
Even number

* # List Comprehenshion

In [22]:
for num in range(1,11,3):
    if num % 2== 0:
        print('Even number')
    else:
        print('Odd number')

Odd number
Even number
Odd number
Even number

In [23]:
[print('Even number') if num %2 == 0 else print('Odd number') for num in range(11)]

Even number
Odd number
Even number
Odd number
Even number
Odd number
Even number
Odd number
Even number
Odd number
Even number

[None, None, None, None, None, None, None, None, None, None, None]

In [2]:
my_list=[]
for num in range(1,11,1):
    my_list.append(num**2)
    num+= 1
print(my_list)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [3]:
[num**2 for num in range(11)]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [4]:
[[num*3 for num in range(4)] for num in range(5)]

[[0, 3, 6, 9], [0, 3, 6, 9], [0, 3, 6, 9], [0, 3, 6, 9], [0, 3, 6, 9]]

* # Dictionary Comprehension

In [5]:
name = ['Moussa','Sall','Idris','George']

In [6]:
dico = {k:v for k,v in enumerate(name)}

In [7]:
dico

{0: 'Moussa', 1: 'Sall', 2: 'Idris', 3: 'George'}

In [8]:
gpa = [4,3.9,3.8,3.5]

In [9]:
name_gpg = {k:v for k,v in zip(name,gpa)}
name_gpg

{'Moussa': 4, 'Sall': 3.9, 'Idris': 3.8, 'George': 3.5}

* ## Functions

In [10]:
def square_root_func(num):
    result = num**0.5
    return result

In [11]:
square_root_func(2)

1.4142135623730951

In [12]:
my_list=[]
for num in range(1,11,1):
    my_list.append(num**2)
    num+= 1
print(my_list)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [13]:
def square_func(val):
    my_list = []
    for val in range(1,11):
        my_list.append(val**2)
        val = val+1
    return my_list

In [14]:
my_list

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]