In [23]:
import pandas as pd
import numpy as np
import random
import string

* ### Series is just a single column on data
* ### Data frame is a collection of series

In [57]:
data1 = [i for i in range(10)]
data1

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [8]:
alphalist = list(string.ascii_uppercase)
print(alphalist)

['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z']

In [10]:
index1 = [alphalist[i] for i in range(10)]
index1

['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J']

In [14]:
series1 = pd.Series(data=data1,index=index1)
series1

A    0
B    1
C    2
D    3
E    4
F    5
G    6
H    7
I    8
J    9
dtype: int64

In [17]:
dico = {k:v for k,v in zip(index1,data1)}
dico

{'A': 0,
 'B': 1,
 'C': 2,
 'D': 3,
 'E': 4,
 'F': 5,
 'G': 6,
 'H': 7,
 'I': 8,
 'J': 9}

In [18]:
series2 = pd.Series(dico)
series2

A    0
B    1
C    2
D    3
E    4
F    5
G    6
H    7
I    8
J    9
dtype: int64

In [32]:
df = pd.DataFrame(np.random.randn(5,5),index='A/B/C/D/E'.split('/'), columns='V/W/X/Y/Z'.split("/"))
df

          V         W         X         Y         Z
A -0.268847 -0.615396  0.806419 -1.121243  0.487422
B -0.443575  0.684976 -0.142947  0.895569  1.305662
C  1.572819 -0.451603  0.528171 -0.138050 -0.470075
D  0.436562  0.641606  0.913793  0.158354  1.975006
E  1.129882 -0.615630  1.977393  1.239391 -1.094814

In [39]:
# sELECTING COLUMNS
df[['V','X']]

          V         X
A -0.268847  0.806419
B -0.443575 -0.142947
C  1.572819  0.528171
D  0.436562  0.913793
E  1.129882  1.977393

In [38]:
df[['W','Y']]

          W         Y
A -0.615396 -1.121243
B  0.684976  0.895569
C -0.451603 -0.138050
D  0.641606  0.158354
E -0.615630  1.239391

In [41]:
# We use iloc to select a particular row
df.iloc[0]

V   -0.268847
W   -0.615396
X    0.806419
Y   -1.121243
Z    0.487422
Name: A, dtype: float64

In [44]:
# To select a particular value in a location, almost like a point on a graph
df.loc['B']['V']

-0.44357487357037656

In [53]:
df['W']> 0

A    False
B     True
C    False
D     True
E    False
Name: W, dtype: bool

In [49]:
df[df['W']> 0]

          V         W         X         Y         Z
B -0.443575  0.684976 -0.142947  0.895569  1.305662
D  0.436562  0.641606  0.913793  0.158354  1.975006

In [51]:
# adding new column to the data frame
df['U'] = df['V']+df['Z']

In [52]:
df

          V         W         X         Y         Z         U
A -0.268847 -0.615396  0.806419 -1.121243  0.487422  0.218575
B -0.443575  0.684976 -0.142947  0.895569  1.305662  0.862087
C  1.572819 -0.451603  0.528171 -0.138050 -0.470075  1.102744
D  0.436562  0.641606  0.913793  0.158354  1.975006  2.411567
E  1.129882 -0.615630  1.977393  1.239391 -1.094814  0.035067

In [54]:
df['U'] > df['V']

A     True
B     True
C    False
D     True
E    False
dtype: bool

In [55]:
df[df['U'] > df['V']]

          V         W         X         Y         Z         U
A -0.268847 -0.615396  0.806419 -1.121243  0.487422  0.218575
B -0.443575  0.684976 -0.142947  0.895569  1.305662  0.862087
D  0.436562  0.641606  0.913793  0.158354  1.975006  2.411567