In [1]:
import pandas as pd
import numpy as np
import numpy.random as randn
import string

* ### Series is just a single column on data
* ### Data frame is a collection of series

In [2]:
data1 = [i for i in range(10)]
data1

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [3]:
alphalist = list(string.ascii_uppercase)
print(alphalist)

['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z']

In [4]:
index1 = [alphalist[i] for i in range(10)]
index1

['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J']

In [5]:
series1 = pd.Series(data=data1,index=index1)
series1

A    0
B    1
C    2
D    3
E    4
F    5
G    6
H    7
I    8
J    9
dtype: int64

In [6]:
dico = {k:v for k,v in zip(index1,data1)}
dico

{'A': 0,
 'B': 1,
 'C': 2,
 'D': 3,
 'E': 4,
 'F': 5,
 'G': 6,
 'H': 7,
 'I': 8,
 'J': 9}

In [7]:
series2 = pd.Series(dico)
series2

A    0
B    1
C    2
D    3
E    4
F    5
G    6
H    7
I    8
J    9
dtype: int64

In [8]:
df = pd.DataFrame(np.random.randn(5,5),index='A/B/C/D/E'.split('/'), columns='V/W/X/Y/Z'.split("/"))
df

          V         W         X         Y         Z
A  0.305198  0.908092 -0.209520 -1.252420 -1.414478
B -1.348738  0.235385  0.261281 -0.053363 -0.399267
C -0.307989  0.122553  2.321101 -0.077522 -0.193115
D  0.446583  0.188713 -0.568799  0.735920 -0.574218
E -2.474378  1.138746 -0.517121  0.743216 -2.013458

In [20]:
df.iloc[0]

V    0.305198
W    0.908092
X   -0.209520
Y   -1.252420
Z   -1.414478
U   -1.109280
Name: A, dtype: float64

In [21]:
df.loc['A']

V    0.305198
W    0.908092
X   -0.209520
Y   -1.252420
Z   -1.414478
U   -1.109280
Name: A, dtype: float64

In [22]:
df['W']

A    0.908092
B    0.235385
C    0.122553
D    0.188713
E    1.138746
Name: W, dtype: float64

In [23]:
df[['W','Y']]

          W         Y
A  0.908092 -1.252420
B  0.235385 -0.053363
C  0.122553 -0.077522
D  0.188713  0.735920
E  1.138746  0.743216

In [9]:
# sELECTING COLUMNS
df[['V','X']]

          V         X
A  0.305198 -0.209520
B -1.348738  0.261281
C -0.307989  2.321101
D  0.446583 -0.568799
E -2.474378 -0.517121

In [25]:
df.iloc[1]['X']

0.261280627248638

In [26]:
df.loc['B']['X']

0.261280627248638

In [10]:
df[['W','Y']]

          W         Y
A  0.908092 -1.252420
B  0.235385 -0.053363
C  0.122553 -0.077522
D  0.188713  0.735920
E  1.138746  0.743216

In [34]:
df.loc['D']

V    0.446583
W    0.188713
X   -0.568799
Y    0.735920
Z   -0.574218
U   -0.127636
Name: D, dtype: float64

### ACTVITY
BRING OUT FIGURES IN DX AND DZ

In [38]:
df.loc['D']['X'], df.loc['D']['Z']

(-0.5687989327782504, -0.5742181066091441)

In [40]:
df.iloc[3]['X'], df.iloc[3]['Z']

(-0.5687989327782504, -0.5742181066091441)

##### correction (mine is still correct):

In [45]:
df.loc['D'][['X','Z']]

X   -0.568799
Z   -0.574218
Name: D, dtype: float64

In [46]:
df[['X','Z']].loc['D']

X   -0.568799
Z   -0.574218
Name: D, dtype: float64

In [47]:
df[['X','Z']].iloc[3]

X   -0.568799
Z   -0.574218
Name: D, dtype: float64

### DONE

In [11]:
# We use iloc to select a particular row
df.iloc[0]

V    0.305198
W    0.908092
X   -0.209520
Y   -1.252420
Z   -1.414478
Name: A, dtype: float64

In [12]:
# To select a particular value in a location, almost like a point on a graph
df.loc['B']['V']

-1.3487383195904936

In [13]:
df['W']> 0

A    True
B    True
C    True
D    True
E    True
Name: W, dtype: bool

In [14]:
df[df['W']> 0]

          V         W         X         Y         Z
A  0.305198  0.908092 -0.209520 -1.252420 -1.414478
B -1.348738  0.235385  0.261281 -0.053363 -0.399267
C -0.307989  0.122553  2.321101 -0.077522 -0.193115
D  0.446583  0.188713 -0.568799  0.735920 -0.574218
E -2.474378  1.138746 -0.517121  0.743216 -2.013458

In [15]:
# adding new column to the data frame
df['U'] = df['V']+df['Z']

In [49]:
df

          V         W         X         Y         Z         U
A  0.305198  0.908092 -0.209520 -1.252420 -1.414478 -1.109280
B -1.348738  0.235385  0.261281 -0.053363 -0.399267 -1.748006
C -0.307989  0.122553  2.321101 -0.077522 -0.193115 -0.501103
D  0.446583  0.188713 -0.568799  0.735920 -0.574218 -0.127636
E -2.474378  1.138746 -0.517121  0.743216 -2.013458 -4.487836

In [50]:
df['U'] > df['V']

A    False
B    False
C    False
D    False
E    False
dtype: bool

In [53]:
df[df['U'] > df['V']]

Empty DataFrame
Columns: [V, W, X, Y, Z, U]
Index: []

## df.head() this will return the first five rows of your data frame

In [54]:
df.head(2)

          V         W         X         Y         Z         U
A  0.305198  0.908092 -0.209520 -1.252420 -1.414478 -1.109280
B -1.348738  0.235385  0.261281 -0.053363 -0.399267 -1.748006

## df.tail() this will return the last five rows of your data frame

In [55]:
df.tail(2)

          V         W         X         Y         Z         U
D  0.446583  0.188713 -0.568799  0.735920 -0.574218 -0.127636
E -2.474378  1.138746 -0.517121  0.743216 -2.013458 -4.487836

* # CONCATINATE

In [63]:
df1 = pd.DataFrame({'A':['A0','A1','A2','A3'],
                   'B':['B0','B1','B2','B3'],
                   'C':['C0','C1','C2','C3']},index =[0,1,2,3])

In [64]:
df2 = pd.DataFrame({'A':['A4','A5','A6','A7'],
                   'B':['B4','B5','B6','B7'],
                   'C':['C4','C5','C6','C7']},index =[0,1,2,3])

In [68]:
pd.concat([df1,df2])

    A   B   C
0  A0  B0  C0
1  A1  B1  C1
2  A2  B2  C2
3  A3  B3  C3
0  A4  B4  C4
1  A5  B5  C5
2  A6  B6  C6
3  A7  B7  C7

In [69]:
pd.concat([df1,df2], axis=1)

    A   B   C   A   B   C
0  A0  B0  C0  A4  B4  C4
1  A1  B1  C1  A5  B5  C5
2  A2  B2  C2  A6  B6  C6
3  A3  B3  C3  A7  B7  C7

"axis=0" will make rows, "axis=1" will make columns

# NEXT: MERGING AND JOINING DATA FRAME